.DS_Store

# Android (app/)
app/.gradle/
app/build/
app/local.properties
app/.idea/
app/.kotlin/
app/*.iml
app/captures/
app/.externalNativeBuild/
app/.cxx/
app/*.apk
app/*.ap_
app/*.aab

# Backend (backend/)
backend/.gradle/
backend/build/
backend/*.iml
